In [1]:
import csv
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['loop_ID', 'segment_ID', 'data_element_ID', 'data_element_value'])
loop_ids = ['none','1000A','1000B','2000','2100','2110','none']
loop_initiators = ['N1','LX','CLP','SVC','PLB']
# loop_ids = {'1000A':'N1','1000B':'N1','2000':'LX','2100':'CLP','2110':'SVC','none':'PLB'}
era_params_file_name = '835segments.csv'
debug_mode = False

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#import of 835 code table
def era_table_import():
    try:
        with open(era_params_file_name + '.csv', mode='r') as infile:
            reader = csv.reader(infile)
            with open(era_params_file_name + '.csv', mode='w') as outfile:
                writer = csv.writer(outfile)
                era_codes = {rows[0]:rows[1] for rows in reader}

        return era_codes
    except Exception as e:
        return f"Unable to access era parameters file. Error code: {e}"

In [5]:
def era_file_to_str(era_file_name):
    try:
        with open(era_file_name, 'r') as file:
            era_string = file.read().replace('\n', '')
        return era_string
    except:
        return 'Unable to find/convert era file.'

In [6]:
def era_translate(era_codes, era_string):

    segments = era_string.split('~')

    loop_number = 0

    for segment in segments:
        segment_name = str(segment.split('*')[0])
        segment_values = segment.split('*')[1:]
        if segment_name in loop_initiators:
            loop_number = loop_number + 1
        loop_id = loop_ids[loop_number]
        if debug_mode == True:
            print(segment_name)
        segment_value_id = 1
        for segment_value in segment_values:
            if debug_mode == True:
                if len(str(segment_value_id)) < 2:
                    print('    ' + segment_name + '0' + str(segment_value_id) + '  |  ' + str(segment_value))
                else:
                    print('    ' + segment_name + str(segment_value_id) + '  |  ' + str(segment_value))
            if segment_value == '':
                continue
            if len(str(segment_value_id)) < 2:
                df.loc[len(df.index)] = [str(loop_id), str(segment_name),'0' + str(segment_value_id),str(segment_value)]
            else:
                df.loc[len(df.index)] = [str(loop_id), str(segment_name),str(segment_value_id), str(segment_value)]
            segment_value_id = segment_value_id + 1

    return df


if __name__ == '__main__':
    display(era_translate('',era_file_to_str('835test.txt')))

,loop_ID,segment_ID,data_element_ID,data_element_value
0,none,ST,01,835
1,none,ST,02,1234
2,none,BPR,01,I
3,none,BPR,02,15096.46
4,none,BPR,03,C
5,none,BPR,04,CHK
6,none,BPR,05,20100923
7,none,TRN,01,1
8,none,TRN,02,70408535
9,none,TRN,03,15714001
10,none,REF,01,F2
11,none,REF,02,slca435w
12,none,DTM,01,405
13,none,DTM,02,20100923
14,1000A,N1,01,PR
15,1000A,N1,02,NC TEACHERS & STATE EMPLOYEES HEALTH PLAN & HEALTH CHOICE
16,1000A,N3,01,P O BOX 30025
17,1000A,N4,01,DURHAM
18,1000A,N4,02,NC
19,1000A,N4,03,27702
20,1000A,PER,01,CX
21,1000A,PER,02,TE
22,1000A,PER,03,8002144844
23,1000B,N1,01,PE
24,1000B,N1,02,ACME UNIV HLTH SYS INC
25,1000B,N1,03,XX
26,1000B,N1,04,1234567890
27,1000B,N3,01,P O BOX AAA1
28,1000B,N4,01,DURHAM
29,1000B,N4,02,NC
30,1000B,N4,03,27701
31,1000B,REF,01,TJ
32,1000B,REF,02,123456789
33,2000,CLP,01,474623UB001CW0321
34,2000,CLP,02,1
35,2000,CLP,03,3740.6
36,2000,CLP,04,5451.04
37,2000,CLP,05,15
38,2000,CLP,06,80209000000
39,2000,CLP,07,11
40,2000,CLP,08,1
41,2000,CLP,09,397
42,2000,CLP,10,0.7309
43,2000,CAS,01,CO
44,2000,CAS,02,94
45,2000,CAS,03,-1710.44
46,2000,NM1,01,QC
47,2000,NM1,02,1
48,2000,NM1,03,Rabbit
49,2000,NM1,04,Roger
50,2000,NM1,05,B
51,2000,NM1,06,MI
52,2000,NM1,07,RUN123456789
53,2000,MIA,01,0
54,2000,REF,01,EA
55,2000,REF,02,CW0321
56,2000,DTM,01,232
57,2000,DTM,02,20100307
58,2000,DTM,01,233
59,2000,DTM,02,20100310
60,2000,DTM,01,50
61,2000,DTM,02,20100918
62,2000,AMT,01,AU
63,2000,AMT,02,5451.04
64,2000,SE,01,21
65,2000,SE,02,1234